*{
  margin:0;
  padding:0;
  text-decoration: none;
    font-family: effra-arabic;
}

.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  
 
  font-size:14px;
  width: 200px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  padding: 30px 15px;
  width: 100%;
  
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}

.link{
  display: flex;
  color:#4F6D85;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:rgb(228, 233, 236);
  color: #000;
  transition: all 0.5s;
}
.active{
 
  color: #0066ff;
}
.icon, .link_text{
  font-size: 14px;
  font-family: effra-arabic;
}


.grid-container {
  display: grid;
  gap: 50px 100px;
  grid-template-columns: auto auto auto;
  
 border-radius: 2px solid black;
  padding: 10px;
  display:inline-block;
  background-color: rgb(237, 237, 247);
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
 
  padding: 20px;
  font-size: 15px;
  text-align: left;
  width: 265px;
    height: 100px;
    
  border-radius: 6px;
  display: flex;
}


.grid-item {
  color: #4F6D85;
  font-size:14px;
}