.App {
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

#divOne {
  width: 765px;
}

.tblOne,
tr {
  border: 2px solid grey;
  border-collapse: collapse;
  width: 102%;
  table-layout: fixed;
}

form {
  display: flex;
}
label {
  position: relative;
}
.todo-input {
  border: none;
  padding: 15px;
  border-radius: 4px 0 0 4px;
  width: 746px;
  border-color: lightgray;
  border: 2px solid gray;
  border-radius: 6px;
}
.todo-input:focus {
  outline: none;
}
.todo-button {
  position: absolute;

  border: none;
  right: 0;
height:49px;
  padding: 15px;
  background-color: #0066ff;
  color: white;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  width: fit-content;
  
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.RiDeleteBin6Line {
  color: #f2f2f2;
  cursor: pointer;
}

.Faedit {
  color: #f2f2f2;
  cursor: pointer;
}
.delete {
  background-color: #ff6666;
  border-color: #ff6666;
  border-radius: 3px;
}
.edit {
  background-color: #04aa6d;
  border-color: #04aa6d;
  border-radius: 3px;
  margin: 5px;
}
.react-icon {
  text-align: right;
}
.title {
  width: 2px;
}
.div1{
background-color: #04aa6d;
width: 746px;
position: absolute;
bottom: 0px;
}
.div2{

width: 746px;
position: relative;
height: 100px;
}
.myDiv {
  border: 5px outset red;
     
  
  width: 746px;
position: relative;

}
.myDiv1 {
    
  width: 746px;
  position: absolute;
  bottom: 0px;
  top: 60%;
  
}
